@using CncIndustrial.ViewModels.Common;
@model PagedResult<CncIndustrial.ViewModels.Catalog.Project.ProductVm>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Danh sách dự án";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Js{
        <script>
            setTimeout(function () {
                $('#msgAlert').fadeOut('slow');
            }, 2000);
        </script>
    }

<div class="container-fluid">
    <h2 class="mt-4" style="padding:30px 0px;color: #EF5924;text-transform:uppercase">Danh Sách Dự Án</h2>

    <div class="card mb-12">
        <div class="card-header">

            <div class="row">
                <form class="col-lg-9" asp-action="Index" method="get">


                    <div class="input-group">
                        <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Nhập tên dự án">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='/Project/Index'"><i class="fa-solid fa-trash"></i></button>
                    </div>

                </form>
                <div class="col-lg-3">
                    <a style="float:right" class="btn btn-success" asp-action="Create" asp-controller="User"><i class="fa-solid fa-user-plus"></i></a>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <div>
                    <table id="datatablesSimple"  class=" table table-striped table-hover table-bordered align-middle">
                        <thead class="table-primary text-center">
                            <tr>

                                <th>
                                    Mã Dự Án
                                </th>
                                <th>
                                    Dự Án
                                </th>
                                <th>
                                    Ảnh
                                </th>
                                <th>
                                    Lượt Xem
                                </th>

                                <th>Chức Năng</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                       
                                        <img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" asp-append-version="true" width="150" />
                                       
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ViewCount)
                                    </td>

                                    <td>

                                        <a style="text-decoration:none;padding:5px" href="/Project/Edit/@item.Id" class="item itemdelete" id=@item.Id data-toggle="tooltip" data-placement="top" title="Sửa">
                                            <i class="fa-solid fa-pen-nib"></i>
                                        </a>

                                       
                                        <a style="text-decoration:none;padding:5px" href="Project/Delete/@item.Id" class="item itemdelete" id=@item.Id data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <i style="color:red" class="  fa-solid fa-user-minus"></i>
                                        </a>
                                        <a style="text-decoration:none;padding:5px" href="Project/CategoryAssign/@item.Id" class="item itemdelete" id=@item.Id data-toggle="tooltip" data-placement="top" title="Đổi quyền">
                                            <i style="color: #16a085" class="fa-solid fa-restroom"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>

    </div>
</div>

